
.inputWithIcon .input{
		width: 30%;
		border: 2px solid #000000;
		border-radius:4px;
		margin: 8px 0;
		outline: none;
		padding:8px;
		box-sizing: border-box;
		transition: 2s;
		font-size: 20px;
	}
	input[type=text]:focus{
		border-color:dodgerBlue;
		box-shadow:0 0 8px 0 dodgerBlue;
	}
	.inputWithIcon input[type=text]{
		padding-left:12%;
	}

	.inputWithIcon{
		position: relative;
	}

	.inputWithIcon i{
		position: relative;
		right: 0;
		top: 4px
	}
